/* import google font - poppins */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Sedgwick Ave Display', cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cadetblue;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1050px;
    gap: 10px;
    padding: 10px;
}
section{
    background: whitesmoke;
    border-radius: 8px;
}
.drawing-board{
    flex:1;
}
.tools-board{
    width:210px;
    padding: 15px 22px 0;
}
.tools-board .row{
    margin-bottom: 50px;
    
}
.row .options{
    cursor: pointer;
    list-style: none;
    margin: 10px 0 0 5px;
}
.row .options .option{
    cursor: pointer;
display: flex;
align-items: center;
margin-bottom: 10px;
}
 .option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) brightness(100%) contrast(100%)
    hue-rotate(900deg);
    
} 


.option :where(span, label){
    cursor: pointer;
color:rgb(163, 14, 14);
padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
    color: rgb(123, 155, 242);
}
#fill-color:checked ~ label{
    color:blueviolet
}
.option #size-slider{
    width: 100%;
    height:5px;
    margin-top: 10px;
    cursor: pointer;
}
.colors .options{
    display: flex;
    justify-content: space-between;
}
.colors .option{
    height: 20px;
    width:20px;
    background: goldenrod;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}
.colors .option:nth-child(1){
    background-color: black;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: rgb(213, 71, 71);
}
.colors .option:nth-child(3){
    background-color: rgb(114, 212, 65);
}
.colors .option:nth-child(4){
    background-color: rgb(210, 129, 15);
}
.colors .option:nth-child(5){
    background-color: rgb(159, 9, 129);
}
.colors .option.selected::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height:12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
border-color: blue;
}
 .option #color-picker{
    opacity: 0;
    cursor: pointer;
} 
.buttons button{
    width:100%;
    color:rgb(0, 0, 0);
    border: none;
    outline: none;
    padding: 11px 0;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.buttons .clear-canvas{
    color:black;
    border:1px solid grey;
    transition: all 0.3s ease;
}
.clear-canvas:hover{
    color: yellow;
    background: gray;
}
.buttons .save-img{
    color:black;
    border:1px solid grey;
}
.option #fill-color{
    cursor: pointer;
    height:14px;
    width:14px
}
.drawing-board canvas{
    width: 100%;
    height: 100%;
}